# Eclipse
bin/
*.launch
.settings/
.metadata/
.classpath
.project

# IntelliJ IDEA
out/
*.ipr
*.iws
*.iml
.idea/

# Gradle
build/
.gradle/

# Forge MDK / local dev
run/
eclipse/
forge*changelog.txt

# Test & scratch output
/test-results/
/test-output/
*.log
compile-output.log
build-output.log
debug-*.log

# OS
.DS_Store
Thumbs.db
